
.content {
    flex-grow: 1; /* El contenido principal crecerá para ocupar el espacio restante */
    padding: 20px; /* Espacio interior para el contenido principal */
}

.nav {
    z-index: 1;
}

.comida-imagen {
    width: auto; /* Permite que el ancho se ajuste automáticamente */
    height: 200px; /* Establece una altura fija para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen manteniendo la proporción de aspecto */
}

/* Estilos para el mapa de mesas */

.mesa {
    width: 130px; /* Ancho de cada mesa */
    height: 100px; /* Alto de cada mesa */
    transition: all 0.3s ease-in-out;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

#mapa-mesas {
    width: 100%; /* Ancho del contenedor */
    height: 600px; /* Alto del contenedor */
    position: relative;
    border: 2px solid #ddd; /* Borde gris */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Oculta las mesas que se salgan del contenedor */
    margin-left: 5px;
}


/* Estilos condicionales para la línea seleccionada */
.restaurante-item.seleccionado {
    background-color: #f0f0f0; /* Cambia el color de fondo */
    border-left: 3px solid #007bff; /* Cambia el color de la línea izquierda */
}

/* Animación para la transición de opacidad */
.animacion-transicion {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}

@-o-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}

@-ms-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}

.mesa:hover {
    transform: scale(1.1);
    z-index: 10;
}

.absolute {
    position: absolute;
}

/* Estilos adicionales */
.mesa.libre {
    background-color: #5cb85c; /* Verde para mesas libres */
}

.mesa.ocupada {
    background-color: #d9534f; /* Rojo para mesas ocupadas */
}

#informacion {
    display: flex;
    align-items: center;
}

.mesa.pendiente {
    background-color: #f0ad4e; /* Amarillo para mesas pendientes */
}


